/* src/App.css */

body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  font-family: 'GFS Didot', serif;
}

.task-header {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos al centro */
  justify-content: space-between; /* Distribuye el espacio entre el título y el botón */
  margin-bottom: 10px; /* Añade espacio debajo del encabezado */
}

.task-header h2 {
  margin: 0; /* Elimina el margen predeterminado */
  font-size: 24px; /* Ajusta el tamaño de fuente del título */
}

.add-task-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px; /* Aumenta el tamaño de la fuente para que sea más visible */
  cursor: pointer;
}

/* Otros estilos */
.task-list {
  text-align: left;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente las tareas y el botón de eliminación */
  padding: 5px 0; /* Espaciado vertical entre las tareas */
}

.task-item span {
  cursor: pointer;
}

.task-item span.completed {
  text-decoration: line-through;
}

.add-task-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: -300px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: black;
}

.progress-container {
  margin: 20px 0;
}

.level-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  flex-grow: 1;
  height: 8px;
  background-color: #333;
  margin-left: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: white;
  transition: width 0.3s;
}